/* tips */


/* typography */
@font-face {
    font-family: "Rubik Regular";
    font-weight: 500;
    src: url("../fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik Regular";
    font-weight: 600;
    src: url("../fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Rubik Regular";
    font-weight: 700;
    src: url("../fonts/Rubik-Bold.ttf") format("truetype");
}

body {
    font-family: "Rubik Regular";
    font-size: 16px;
    color: #4F5665;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.4em;
    margin: 0px;
    color: #0B132A;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

p {
    line-height: 1.6em;
    margin: 0px;
}

.text-semi-bold {
    font-weight: 600;
    line-height: 1.8em;
}

.text-bold {
    font-weight: 700;
}

.text-muted {
    color: #AFB5C0;
    font-size: 16px;
    line-height: 30px;
}


/* container */
.container {
    width: 100%;
    max-width: 1138px;
    margin: 0px auto;
    padding: 0px 15px;
}

@media (max-width: 1138px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: none;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: none;
    }
}

/* buttons */
.btn {
    font-weight: 700;
    color: #0b132a;
    text-align: center;
    border-width: 0px;
    border-radius: 10px;
}

.btn.btn--sign-in {
    line-height: 30px;
    padding: 6px 30px;
}

.btn.btn--sign-in:hover {
    background-color: #0B132A;
    color: #ffffff;
    transition: 0.2s;
}

.btn.btn--sign-up {
    color: #f53855;
    border-color: #f53855;
    background-color: #f53855;
}

.btn.btn--sign-up:hover {
    background-color: #F53838;
    color: #ffffff;
    transition: 0.2s;
}

.btn.btn--small {
    line-height: 45px;
    outline: none;
}

.btn.btn--large {
    line-height: 60px;
    outline: none;
}

.btn.btn--primary {
    color: #ffffff;
    border-color: #f53855;
    background-color: #f53855;
    box-shadow: 4px 18px 19px 0 rgba(245, 56, 56, 0.35);
}

.btn.btn--primary:hover {
    background-color: #ffffff;
    color: #F53838;
    transition: 0.2s;
}

.btn.btn--success {
    color: green;
    border-color: green;
    background-color: green;
}

.btn.btn--link {
    background-color: transparent;
}

.btn.btn--outline {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}

.btn.btn--outline.btn--primary {
    color: #f53855;
}

.btn.btn--outline.btn--success {
    color: green;
}

.btn.btn--pill {
    border-radius: 50px;
}

.plan-card__btn {
    width: 178px;
    height: 45px;
    margin-bottom: 50px;
}

.plan-card__btn:hover {
    box-shadow: 4px 18px 19px 0 rgba(245, 56, 56, 0.35);
}


.btn.btn--outline.btn--primary:hover {
    color: #fff;
}

/* utils */
.display-flex {
    display: flex;
}

.flex-justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.overflow-hidden {
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

/* section navigation */
.section {
}

.section--navigation {
    padding-top: 45px;
    padding-bottom: 9px;
}

.section.section--navigation > .container {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    color: #0b132a;
    text-decoration: none;
}

.logo--vertical {
}

.logo__icon {
    margin-right: 10px;
    margin-bottom: -11px;
}

.logo__icon--red {
    margin-right: 10px;
    margin-bottom: -5px;
}

.logo__title {
    width: 104px;
    height: 24px;
    margin-bottom: 4px;
    font-size: 20px;
}

.logo__title--subscribe {
    width: 104px;
    height: 24px;
    margin-bottom: 15px;
    font-size: 20px;
}

.nav {
    width: 100%;
    max-width: 450px;
}

.nav__item {
    color: #4F5665;
    text-decoration: none;
}

.nav__item:hover {
    text-decoration: underline;
    color: #f53855;
    transition: 0.2s;
}

.nav .nav__item:not(:first-child) {
    margin-left: 20px;
}

.buttons {
}

.buttons > *:not(:first-child) {
    margin-left: 32px;
}

.buttons > .btn.btn--pill {
    width: 150px;
    height: 45px;
}

.burger--btn {
    display: none;
}

.burger--btn.is-open > span:first-child {
    display: none;
}

.burger--btn:not(.is-open) > span:last-child {
    display: none;
}

@media (max-width: 1138px) {
}

@media (max-width: 992px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        top: 120px;
        padding: 20px;
        background-color: aqua;
    }

    .nav:not(.is-open) {
        display: none;
    }

    .nav .nav__item:not(:first-child) {
        margin-left: 0px;
    }

    .burger--btn {
        display: block;
    }
}

@media (max-width: 767px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        top: 120px;
        padding: 20px;
        background-color: aqua;
    }

    .nav:not(.is-open) {
        display: none;
    }

    .nav .nav__item:not(:first-child) {
        margin-left: 0px;
    }

    .burger--btn {
        display: block;
    }
}


/* section hero */
.section--hero {
    display: flex;
    align-items: center;
    padding-top: 80px;
}

.section--hero .container {
    position: relative;
    display: flex;
    align-items: center;
}

.hero {
    max-width: 556px;
    position: relative;
    padding-right: 40px;
}

.hero__title {
    max-width: 555px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.hero__paragraph {
    font-size: 16px;
    line-height: 1.9em;
    margin-bottom: 50px;
    color: #4F5665;
}

.hero__btn {
    width: 250px;
}

.hero__img {
    display: flex;
    top: -36px;
    right: -55px;
    max-width: 100%;
}

/*** @media hero ***/
@media (min-width: 1400px) {
    .hero__title {
        width: 555px;
        font-size: 40px;
    }

    .hero__paragraph {
        max-width: 555px;
        font-size: 16px;
    }
}


@media (max-width: 1200px) {
    .hero__title {
        max-width: 282px;
        font-size: 27px;
    }

    .hero__paragraph {
        max-width: 463px;
        font-size: 14px;
        margin-bottom: 20px;
    }

    .hero__img {
        position: static;
        width: 50%;
    }
}

@media (max-width: 992px) {
    .hero {
        display: flex;
        flex-direction: column;
    }

    .hero__title {
        max-width: 555px;
        font-size: 32px;
    }

    .hero__img {
        position: static;
        width: 50%;
    }
}

@media (max-width: 768px) {
    .hero {
        text-align: center;
        padding-right: 0px;
    }

    .section--hero {
        padding-top: 40px;
    }

    .section--hero .container {
        flex-direction: column-reverse;
    }

    .hero__img {
        margin-bottom: 26px;
        width: 60%;
    }

    .hero__title {
        text-align: center;
        max-width: 555px;
        font-size: 29px;

    }

    .hero__paragraph {
        text-align: center;
        font-size: 14px;
        max-width: 555px;

    }

    .hero__btn {
        margin: 0px auto;
    }
}


@media (max-width: 576px) {
    .section--hero {
        padding-top: 180px;
    }

    .hero__img {
        width: 75%;
    }

    .hero__title {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 28px;
    }

    .hero__paragraph {
        text-align: center;
        font-size: 16px;
        line-height: 1.1em;
        margin-bottom: 20px;
    }
}

@media (min-width: 576px) {
    .section--hero {
        padding-top: 180px;
    }

}


/* section info */
.section {
}

.section--info {
    flex-wrap: nowrap;
    padding-top: 107px;
    max-width: 100%;
}

.info-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    /**margin: 0px auto;**/
    width: 100%;
    padding: 30px 0px;
    border: 0px solid transparent;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px 30px -10px rgba(50, 50, 50, 0.5);
}

.info-item {
    display: flex;
}

.info-item__value {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 30px;
    color: #0B132A;
}

.info-item__title {
    font-size: 20px;
    line-height: 30px;
}

.info-item__image {
    background-color: #FFECEC;
    width: 55px;
    height: 55px;
    border: 0px solid transparent;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 36px;
    margin-top: 5px;
}

.info-divider {
    width: 1px;
    display: block;
    height: 126px;
    background-color: #EEEFF2;
}

/*** @media info ***/
@media (max-width: 768px) {
    .section--info .container {
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    .section--info {
        flex-wrap: nowrap;
        padding-top: 30px;
        max-width: 100%;
    }

    .info-list {
        flex-direction: column;
        text-align: center;
        width: 60%;
        height: 50%;
    }

    .info-item__image {
        text-align: center;
    }

    .info-divider {
        transform: matrix(1, 1, 1, 0, 5, 0);
    }
}

@media (max-width: 576px) {
    .section--info {
        padding-top: 20px;
        max-width: 100%;
    }

    .info-list {
        flex-direction: column;
        text-align: center;
        width: 65%;
        height: 50%;
    }

    .info-item__image {
        text-align: center;
    }

    .info-divider {
        transform: matrix(1, 1, 1, 0, 5, 0);
    }
}

@media (min-width: 576px) {
    .section--info {
        max-width: none;
    }
}


/* section features*/
.section {
}

.section--features .container {
    display: flex;
    justify-content: space-between;
    padding: 0px
}

.section--features {
    padding: 50px 0px 125px;
}

.features {
    margin-top: 50px;
    max-width: 430px;
}

.section--features .features__paragraph {
    margin-bottom: 20px;
}

.feature-list__item {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.feature-list__item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -32px;
    transform: translateY(-55%);
    display: block;
    width: 20px;
    height: 20px;
    background: url("../svg/1212.svg") center / cover no-repeat;
}

.features__img {
    width: 100%;
    height: auto;
}

/*** @media features ***/

@media (min-width: 1px) {
    .section--features {
        padding: 50px 15px;
    }

    .features {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section--features .features__title {
        margin-bottom: 35px;
    }

    .section--features .features__paragraph {
        margin-bottom: 45px;
    }

    .features__img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1200px) {
    .section--features {
        padding: 50px 0px 125px;
    }

    .section--features .features__title {
        margin-bottom: 20px;
    }

    .section--features .features__paragraph {
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .section--features .container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .section--features .features__title {
        margin-bottom: 35px;
        text-align: center;
    }

    .section--features .features__paragraph {
        margin-bottom: 45px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .section--features {
        padding: 50px 0px 75px;
    }

    .features {
        align-items: unset;
        text-align: unset;
    }
}

@media (max-width: 768px) {
    .section--features .features__title {
        margin-bottom: 20px;
        text-align: center;
    }

    .section--features .features__paragraph {
        margin-bottom: 20px;
        text-align: center;
    }
}


@media (min-width: 576px) {
    .section--features {
        padding: 50px 0px;
    }

    .features__img {
        width: auto;
    }
}


/* section plan*/
.section {
}

.plan-header {
    justify-content: space-between;
    max-width: min-content;
    width: 100%;
    margin: 0px auto;
}

.section--plan {
    width: 100%;
    padding-top: 80px;
}

.plan__title {
    text-align: center;
    margin-top: 38px;
}

.plan__paragraph {
    margin: 20px auto 60px;
    text-align: center;
    max-width: 555px;
}

.plan__container {
    display: flex;
    justify-content: space-between;
    max-width: min-content;
    width: 100%;
    margin: 0px auto;
}

.plan-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 330px;
    min-width: 330px;
    height: 760px;
    border: solid 2px #DDDDDD;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.2s;
}

.plan-card:not(:first-child) {
    margin-left: 50px;
}

.plan-card:hover {
    border: solid 2px #f53855;
}

.plan-card__img {
    display: block;
    margin: 79px auto 30px;
    max-width: 145px;
}

.plan-card__title {
    font-size: 18px;
    line-height: 1.9em;
    color: #0B132A;
}

.plan-card__list {
    display: flex;
    flex-direction: column;
    margin: 30px auto auto;
    max-width: min-content;
    width: 100%;
    padding-left: 32px;
    text-align: initial;
}

.plan-card__item {
    display: block;
    position: relative;
    min-width: 150px;
    font-size: 14px;
    line-height: 30px;
}

.plan-card__item::before {
    content: '';
    display: block;
    width: 14px;
    height: 9px;
    background: url("../svg/vector1.svg") center / cover no-repeat;
    position: absolute;
    top: 50%;
    left: -32px;
    transform: translateY(-50%);
}

.plan-card__price {
    margin-top: 50px;
    margin-bottom: 9px;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #0B132A;
}

.card-price__color {
    color: #4F5665;
}

/*** @media plan ***/

@media (min-width: 1400px) {
    .plan__container {
        padding: 75px 0px;
    }

    .plan-card {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 1200px) {
    .plan__container {
        flex-direction: column;
        justify-content: space-around;
    }

    .plan-card {
        margin-bottom: 10px;
    }

    .plan-card:not(:first-child) {
        margin-left: 0px;
    }
}

@media (max-width: 992px) {
    .plan-card {
        max-height: 644px;
    }

    .plan__title {
        font-size: 35px;
        line-height: 50px;
    }

    .plan__paragraph {
        font-size: 16px;
    }

    .plan-card__img {
        margin: 30px auto 20px;
    }

    .plan-card__list {
        margin: 20px auto 10px;
    }

    .plan-card__price {
        margin-top: 50px;
        margin-bottom: 9px;
    }
}

@media (max-width: 768px) {
    .section--plan .container {
        padding: 0px;
    }

    .plan__title {
        font-size: 35px;
    }

    .plan__paragraph {
        max-width: 330px;
        font-size: 14px;
    }
}


@media (max-width: 576px) {
    .section--plan .container {
        padding: 0px;
    }

    .plan {
        padding-top: 0px;
    }

    .plan__title {
        font-size: 35px;
    }

    .plan__paragraph {
        max-width: 330px;
        font-size: 14px;
        margin: 20px auto 20px;
    }
}

@media (min-width: 576px) {
    .section--info {
        max-width: none;
    }
}

/* section network*/
.section--network {
    width: 100%;
    text-align: center;
    padding-top: 150px;
}

.network__title {
    max-width: 384px;
    margin: 0 auto;
}

.network__paragraph {
    margin: 0px auto;
    max-width: 555px;
}

.network-map__img {
    display: block;
    margin: 155px auto 36px;
    width: 100%;
    height: 538px;
}


/***  media network ***/
@media (min-width: 1400px) {

}

@media (max-width: 1200px) {
    .network-img__list {
        justify-content: space-between;

    }
}

@media (max-width: 992px) {
    .network__title {
        font-size: 35px;
        line-height: 50px;
    }

    .network-map__img {
        margin: 88px auto 0px;
        width: 100%;
        height: 70%;
    }
}

@media (max-width: 768px) {
    .network__paragraph {
        margin-bottom: 110px;
    }
}


@media (max-width: 576px) {
    .network__title {
        font-size: 28px;
    }

    .network__paragraph {
        font-size: 14px;
        max-width: 330px;
        margin-bottom: 40px;
    }
}

@media (min-width: 576px) {
    .section--info {
        max-width: none;
    }
}


/* section sponsors*/
.section--sponsors {
    padding: 60px 0px;
}

.sponsors {
    display: flex;
    justify-content: space-between;
}

.sponsor {
    position: relative;
    display: flex;
    transition: .3s linear;
}

.sponsor:hover {
    transition: .3s linear;
}

.netflix {
    background: url(../svg/netflix.svg) no-repeat;
    width: 200px;
    height: 112px;
}

.netflix:hover {
    background: url(../svg/netflix-hover.svg) no-repeat;
}

.reddit {
    background: url(../svg/reddit.svg) no-repeat;
    width: 190px;
    height: 60px;
}

.reddit:hover {
    background: url(../svg/reddit-hover.svg) no-repeat;
}

.amazon {
    background: url(../svg/amazon.svg) no-repeat;
    width: 277px;
}

.amazon:hover {
    background: url(../svg/amazon-hover.svg) no-repeat;
}

.discord {
    background: url(../svg/discord.svg) no-repeat;
    width: 190px;
    height: 60px;
}

.discord:hover {
    background: url(../svg/discord-hover.svg) no-repeat;
}

.spotify {
    background: url(../svg/spotify.svg) no-repeat;
    width: 190px;
    height: 60px;
}

.spotify:hover {
    background: url(../svg/spotify-hover.svg) no-repeat;
}


/***  media sponsors ***/
@media (min-width: 1400px) {
    .section--sponsors {
        padding: 60px 0px;
    }

    .sponsors {
        display: flex;
        justify-content: space-between;
    }

    .sponsor {
        position: relative;
        display: flex;
        transition: .3s linear;
    }

    .reddit {
        top: 30px;
        left: 10px;
    }

    .amazon {
        height: 150px;
        bottom: 40px;
    }

    .discord {
        top: 28px;
    }

    .spotify {
        top: 29px;
        left: 10px;
    }
}

@media (max-width: 1400px) {
    .reddit {
        top: 30px;
        left: 24px;
    }

    .amazon {
        height: 150px;
        bottom: 40px;
    }

    .discord {
        top: 28px;
    }

    .spotify {
        top: 29px;
        left: 10px;
    }
}

@media (max-width: 1144px) {
    .section--sponsors {
        flex-direction: column;
        justify-content: space-around;
        column-gap: 75px;
        row-gap: 30px;
    }

    .sponsor {
        flex-direction: column;
        justify-content: space-around;
    }
}

@media (max-width: 768px) {

}


@media (max-width: 576px) {

}

@media (min-width: 576px) {
    .section--info {
        max-width: none;
    }
}


/* section comment*/
.comment {
    width: 100%;
    position: relative;
    padding-top: 50px;
    padding-bottom: 144px;
}

.comment__title {
    text-align: center;
    max-width: 448px;
    margin: 0px auto 20px;
}

.comment__paragraph {
    max-width: 555px;
    text-align: center;
    margin: 0px auto 50px;
}

.comment__reviews {
}

.comment__slider {
    display: flex;
    width: 2000px;
    margin-bottom: 50px;
    position: relative;
}

.comment-card {
    border: solid 2px #DDDDDD;
    border-radius: 10px;
    max-width: 400px;
    height: 230px;
    transition: 0.2s;
}

.comment-card:not(:first-child) {
    margin-left: 50px;
}

.comment-card:hover {
    border: solid 2px #f53855;
    transition: 0.2s;
}

.comment-card__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 30px 30px 0px;
}

.comment-card__avatar {
    display: block;
    width: 50px;
    height: 50px;
}

.comment-card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: auto;
}

.comment-card__name {
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    margin-bottom: 5px;
    font-weight: 600;
}

.comment-card__country {
    font-size: 14px;
    line-height: 30px;
    color: #4F5665
}

.comment-card__rating {
    color: #0B132A;
    margin-right: 10px;
    font-size: 16px;
    line-height: 30px;
}

.comment-card__star {
    margin-right: 42px;
}

.comment-card__text {
    display: block;
    margin: 20px 30px 0px;
    line-height: 30px;
    color: #0B132A
}

/* section comment btn*/
.comment-slider__vector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    height: 60px;
}

.comment-slider__block {
    display: flex;
    justify-content: space-between;
    max-width: 134px;
    width: 100%;
    height: 15px;
    margin-bottom: 7px;
}

.comment-slider__circle {
    width: 15px;
    height: 15px;
    background-color: #DDE0E4;
    border-radius: 50%;
    transition: 0.2s;
}

.comment-slider__ellipse {
    width: 45px;
    background-color: #F53838;
    border-radius: 7px;
}

.comment-slider__btn {
    display: flex;
    margin-bottom: 7px;
}


.comment-slider__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    border: 2px solid #F53838;
    box-sizing: border-box;
    border-radius: 50%;
    color: #F53838;
    outline: none;
}

.comment-slider__arrow:hover {
    background-color: #F53838;
    transition: 0.2s;
}

.comment-slider__arrow:last-child {
    margin-left: 20px;
}

.comment-slider__img {
    width: 20px;
    height: 19px;
    margin: -8px;
}

.comment-hover__img {
    width: 20px;
    height: 19px;
    margin: -12px;
}

/* section subscribe*/
.subscribe {
    position: relative;
}

.subscribe::after {
    content: '';
    display: block;
    position: absolute;
    background-color: #f8f8f8;
    width: 100%;
    height: 50%;
    bottom: 0px;
}

.subscribe-now {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    border: solid 2px #ffffff;
    background-color: #ffffff;
    padding: 50px 70px;
}

.subscribe-now__title {
    max-width: 372px;
    margin-bottom: 10px;
}

.subscribe-now__paragraph {
    max-width: 410px;
    margin: 0px;
}

.subscribe-now__btn {
    width: 250px;
}


/*** @media subscribe ***/
@media (min-width: 1400px) {

}

@media (max-width: 1200px) {
    .subscribe-now {
        width: 60%;
        padding: 50px 70px;
        margin: 0 auto;
        flex-direction: column;
        text-align: center;
    }

    .subscribe-now__title {
        text-align: center;
        margin-bottom: 10px;
    }

    .subscribe-now__paragraph {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width: 992px) {
    .subscribe-now {
        width: 60%;
        flex-direction: column;
        padding: 60px 30px;
        text-align: center;
    }
}

@media (min-width: 576px) {
    .section--info {
        max-width: none;
    }
}

/* section footer */
footer {
    background-color: #f8f8f8;
    max-width: 100%;
    padding-top: 64px;
    padding-bottom: 100px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row.row--links {
    width: 568px;
}

a.logo {
    margin-bottom: 11px;
}

footer p {
    line-height: 30px;
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 34px;
    color: #4F5665;
    padding-top: 2px;
}

.socials {
    display: flex;
    align-items: center;

    margin-bottom: 30px;
}

.social {
    position: relative;
    margin-right: 20px;
    background-color: red;
    border-radius: 24px;
    height: 33.6px;
    width: 33.6px;
    transition: 0.2s;
}

.social:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.social__footer--icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 38px;
    width: 38px;
}

.col--desc {
    max-width: 342px;
    height: 62px;
    padding-top: 9px;
}

.col--links {
    display: flex;
    padding-top: 15px;
    flex-direction: column;
}

.col--links h4 {
    margin-bottom: 20px;
    font-size: 18px;
}

.col--links a {
    color: #4F5665;
    text-decoration: none;
    margin-bottom: 10px;
    line-height: 30px;
}

.col--links a:hover {
    text-decoration: underline;
    color: #f53855;
    transition: 0.2s;
}

/***  media footer ***/
@media (min-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
    footer p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    footer .container {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        gap: 200px;
        padding: 0px;
    }

    .row {
        max-width: 310px;
        margin: 0px auto 50px;
    }

    .social {
        margin: 0 auto 0px;
    }
}

@media (max-width: 576px) {
    .row {
        max-width: 310px;
        margin: 0px auto 50px;
    }

    .social {
        margin: 0 auto 0px;
    }
}

@media (max-width: 276px) {

    .social {
        margin: 0 auto 20px;
    }
}