/* tips */


/* typography */
@font-face {
    font-family: "Rubik Regular";
    font-weight: 500;
    src: url("../fonts/Rubik-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Regular";
    font-weight: 600;
    src: url("../fonts/Rubik-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Rubik Regular";
    font-weight: 700;
    src: url("../fonts/Rubik-Bold.ttf") format("truetype");
}
body{
    font-family: "Rubik Regular";
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    line-height: 1.4em;
    margin: 0px;
}
p{
    line-height: 1.6em;
    margin: 0px;
}
.text-medium{
    font-weight: 600;
}
.text-bold{
    font-weight: 700;
}


/* container */
.container {
    width: 100%;
    max-width: 1138px;
    margin: 0px auto;
    padding: 0px 15px;
}
@media (max-width: 1138px) {
    .container{
        max-width: 970px;
    }
}
@media (max-width: 992px) {
    .container{
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: none;
    }
}


/* buttons */
.btn{
    font-weight: 600;
    color: #0b132a;
    text-align: center;
    border-width: 0px;
    border-radius: 10px;

}
.btn.btn--small{
    line-height: 45px;
}
.btn.btn--large{
    line-height: 60px;
}
.btn.btn--primary {
    color: white;
    border-color: #f53855;
    background-color: #f53855;
}
.btn.btn--success {
    color: green;
    border-color: green;
    background-color: green;
}
.btn.btn--link{

}
.btn.btn--fill{
}
.btn.btn--outline {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
}
.btn.btn--outline.btn--primary{
    color: #f53855;
}
.btn.btn--outline.btn--success{
    color: green;
}

.btn.btn--pill{
    border-radius: 50px;
}


/* utils */
.display-flex {
    display: flex;
}
.flex-justify-between {
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}


/* section navigation */
.section {}
.section--navigation {
    padding-top: 45px;
    padding-bottom: 45px;
}
.section.section--navigation >.container{
    display: flex;
}
.logo {
    display: flex;
    align-items: center;
    color: #0b132a;
    text-decoration: none;
}
.logo--vertical {}
.logo__icon {
    margin-right: 10px;
}
.logo__icon--red {}
.logo__title {
    font-size: 20px;
}
.nav {
    width: 100%;
    max-width: 450px;
}
.nav .nav__item:not(:first-child) {
    margin-left: 20px;
}
.buttons {}
.buttons > *:not(:first-child) {
    margin-left: 32px;
}
.buttons > .btn.btn--pill{
    width: 146px;
}
.burger--btn{
    display: none;
}
.burger--btn.is-open>span:first-child{
    display: none;
}
.burger--btn:not(.is-open)>span:last-child{
    display: none;
}
@media (max-width: 1138px) {
}
@media (max-width: 992px) {
}
@media (max-width: 767px) {
    .section.section--navigation >.container{
        flex-direction: row;

    }
    .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0px;
        top: 120px;
        padding: 20px;
        background-color: aqua;
    }
    .nav:not(.is-open){
        display: none;
    }
    .nav .nav__item:not(:first-child) {
        margin-left: 0px;
    }
    .burger--btn{
        display: block;
    }
}


/* section hero */
.section--hero {
    display: flex;
    align-items: center;
    padding-top: 70px;
}
.hero {
    max-width: 556px;
    position: relative;
    padding-right: 40px;
}
.title--hero{
    font-size: 50px;
    line-height: 1.4em;
    margin-bottom: 20px;
    margin-top: 0px;
}
.paragraph--hero{
    line-height: 1.6em;
    margin: 0px;
    margin-bottom: 50px;
}
.btn--hero{
    width: 250px;
}
.img--hero{
    position: absolute;
    top: 0px;
    right: -100%;
}

/* section info */
.section{}
.section--info {
    flex-wrap: nowrap;
    flex-direction: row;
}
.info{
    width: 33%;
    padding: 0 50px;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
